#one {
    background-color: #c64f37;
    padding: 10px;
    height: 45px;
    text-align: right;
    font-weight: 800;
    border: 0px solid black;
  }

  #two {
    background-color: white;
    padding: 20px;
    height: 25px;
    color: black;
    border: 0px solid black;
  }

  #three {
    height: 200px;
    background-color: #c64f37;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0px solid black;
  }

  #four {
    height: 300px;
    background-color: white;
    padding: 20px;
    border: 0px solid black;
  }

  #five {
      background-color: white;
    padding: 20px;
    border: 0px solid black;
  }

  #six {
      background-color: #c64f37;
    padding: 20px;
    border: 0px solid black;
  }

  #footer {
    text-align: center;
    background-color: white;
    padding: 0px;
    border: 0px solid black;
  }

  .left {
    height: 45px;
    width: 120px;
    padding-left: 0px;
    float: left; }

  .right {
    width: 45%;
    text-align: right;
    font-size: large;
    font-weight: 800;
    font-family: 'Ysabeau SC', sans-serif;
    padding-right: 10px;
    float: right; }
  
  .menu {
    display: grid;
    font-size: 10pt;
    font-weight: 300;
    font-family: 'Ysabeau SC', sans-serif;
    text-align: right;
    grid-template-columns: 25% 25% 25% 25%;
  }

  .main {
    display: grid;
    text-align: center;
    grid-template-columns: 33% 34% 33%;
  }

  .sub {
    display: grid;
    text-align: center;
    grid-template-columns: 50% 50%;
  }

  .services {
    text-align: center;
    padding: 0px;
  }

  .container {
    display: flex;
    background-color: #c64f37; 
  }

  .column {
    flex: 1;
    padding: 10px;
  }

  img {
    width: 100%;
    height: auto;
  }

  .blk {
    color: black;
  }

  h1 {
    font-size: xx-large;
    font-weight: 800;
    font-family: 'Ysabeau SC', sans-serif;
  }

  h2 {
    font-size: large;
    font-weight: 300;
    font-family: 'Ysabeau SC', sans-serif;
  }
  