#one {
    background-color: #395b64;
    padding: 10px;
    height: 45px;
    text-align: right;
    font-weight: 800;
    border: 0px solid black;
  }

#two {
    background-color: white;
    padding: 3px;
    height: 0px;
    color: black;
    border: 0px solid black;
  }

#four {
    height: 450px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    border: 0px solid black;
  }

#gfive {
    background-color: #395b64;
    padding: 20px;
    border: 0px solid black;
  } 

#footer {
    text-align: center;
    background-color: white;
    padding: 0px;
    border: 0px solid black;
  }

.left {
    height: 45px;
    width: 120px;
    padding-left: 0px;
    float: left; }

.right {
    width: 45%;
    text-align: right;
    color: #a5c9ca;
    font-size: large;
    font-weight: 800;
    font-family: 'Ysabeau SC', sans-serif;
    padding-right: 10px;
    float: right; }
  
.menu {
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-size: 11pt;
      color: #2c3333;
      font-weight: 300;
      font-family: 'Ysabeau SC', sans-serif;
      text-align: right;
    }
    
.menu li {
      display: inline-block;
    }
    
.menu li a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: black;
    }
    
.menu li a:hover {
      background-color: #f2f2f2; /* Add a hover background color if desired */
    }
    
.menu li a.active {
      font-weight: bold;
    }

.main {
    display: grid;
    text-align: center;
    color: #2c3333;
    grid-template-columns: 33% 34% 33%;
  }

.sub {
    display: grid;
    text-align: center;
    grid-template-columns: 50% 50%;
  }

.services {
    text-align: center;
    color: #a5c9ca;
    line-height: 11px;
    padding: 0px;
  }

.servicestitle {
    text-align: center;
    color: #2c3333;
    line-height: 11px;
    padding: 0px;
  }

.services2 {
    text-align: center;
    line-height: 11px;
    padding: 0px;
  }

.services3 {
    text-align: center;
    line-height: 11px;
    padding: 0px;
  }

.container {
    display: flex;
    background-color: #395b64; 
  }

.containerwhite {
    display: flex;
    background-color: #395b64; 
  }

.columnl {
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 5px;

  }

.columnc {
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;

  }

.columnr {
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 10px;

  }

.column2 {
    flex: 1;
    padding: 1pt;
  }

.foot {
    color: #2c3333;
  }

.blk {
    color: black;
  }

img {
    width: 100%;
    height: auto;
  }

h1 {
    font-size: xx-large;
    font-weight: 800;
    font-family: 'Ysabeau SC', sans-serif;
  }

h2 {
    font-size: large;
    font-weight: 300;
    font-family: 'Ysabeau SC', sans-serif;
  }

h3 {
    color: white;
    font-size: large;
    font-weight: 300;
    font-family: 'Ysabeau SC', sans-serif;
  }

h4 {
    color: darkgrey;
    font-size: large;
    font-weight: 600;
    font-family: 'Ysabeau SC', sans-serif;
  }

h5 {
    color: darkgrey;
    font-size: 11pt;
    font-weight: 300;
    font-family: 'Ysabeau SC', sans-serif;
  }

h6 {
    color: darkgrey;
    font-size: 10pt;
    font-weight: 300;
    font-family: 'Ysabeau SC', sans-serif;
  }
  